<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/converter.css" />
</head>

<body>
    <section>
        <div class="section__wrapper">
            <h3 class="section__wrapper__heading">Currency Converter</h3>
            <div class="section__wrapper__input">
                <label for="con">Enter Amount</label>
                <input type="text" class="section__wrapper__input__inpt" id="con" value="" />
            </div>
            <div class="section__wrapper__forms overflow">
                <div class="section__wrapper__forms__form float width40">
                    <p>from</p>
                    <div class="section__wrapper__forms__form__side overflow">
                        <div class="section__wrapper__forms__form__side__left float width36">
                            <div class="section__wrapper__forms__form__side__left__responsive">
                                <img src="../static/images/team2.webp" class="responsive section__wrapper__forms__form__side__left__responsive__respo" alt="" />
                            </div>
                        </div>
                        <div class="section__wrapper__forms__form__side__right float width64">
                            <div class="section__wrapper__forms__form__side__right__select">

                                <select class="section__wrapper__forms__form__side__right__select__sele from">
             
              </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__wrapper__forms__form float width20 center ">
                    <i class="fas fa-exchange-alt "></i>
                </div>
                <div class="section__wrapper__forms__form float width40 ">
                    <p>To</p>
                    <div class="section__wrapper__forms__form__side overflow ">
                        <div class="section__wrapper__forms__form__side__left float width36 ">
                            <div class="section__wrapper__forms__form__side__left__responsive ">
                                <img src="../static/images/team2.webp " class="responsive section__wrapper__forms__form__side__left__responsive__respo " alt=" " />
                            </div>
                        </div>
                        <div class="section__wrapper__forms__form__side__right float width64 ">
                            <div class="section__wrapper__forms__form__side__right__select ">

                                <select class="section__wrapper__forms__form__side__right__select__sele to">

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="section__wrapper__heading2"> <span id="bir"></span> <span id="iki"></span> <span id="uc"></span> <span id="dort"></span> </h5>
            <button class="section__wrapper__btn">Get Exchange Rate</button>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/7280065e63.js" crossorigin="anonymous"></script>
    <script src="../static/js/count.js"></script>
    <script src="../static/js/converter.js"></script>
</body>

</html>

</html>